<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">PDF Analysis</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content">
            {% if results.exploits %}
                <label>Exploits detected</label>
                {% for exploit in results['exploits'] %}
                    <div class="close-alert alert alert-danger">
                        {{exploit.name}} ({{exploit.vuln_cve_list|join(', ')}}) →
                        {% for elt in exploit.objects %}
                            <a href="#pdf-object-{{elt}}">{{elt}}</a>
                        {% endfor %}
                    </div>
                {% endfor %}
            {% endif %}

            {% if results.suspicious_objects %}
                <label>Suspicious Objects</label>
                <div class="labeled-content">
                {% for object in results.suspicious_objects %}
                    <div class="row">
                        <div class="col-md-2">
                            {{object[0]}}
                        </div>
                        <div class="col-md-20">
                            {% for elt in object[1] %}
                            <a href="#pdf-object-{{elt}}">{{elt}}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
                </div>
            {% endif %}

            {% if results.objects_content %}
                <label>Extracted Objects</label>
                <div class="labeled-content">
                {% for id, content in results.objects_content|dictsort %}
                    <div id="pdf-object-{{id}}">Object #{{id}}</div>
                    <pre><code>{{content}}</code></pre>
                {% endfor %}
                </div>
            {% endif %}

            {% if not results.exploits and not results.suspicious_objects and not results.objects_content %}
            <p>No suspicious object found</p>
            {% endif %}

            {% if results.links %}
                <label>Extracted Links</label>
                <div class="labeled-content">
                {% for url in results.links %}
                    <div>{{url}}</div>
                {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
