<div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">QRcode Reader</h4>
                <p class="category">Detailed Results</p>
            </div>
            <div class="content">
                {% if results.urls %}
                    <label>Extracted Links</label>
                    <div class="labeled-content">
                        {% for url in results.urls %}
                            <div>{{url}}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                
                {% if results.clean %}
                    <p>No suspicious object found</p>
                {% endif %}
            </div>
        </div>
    </div>
