{% if results.analysis %}
<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">XLM Macros</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content">
                {% for value in results.analysis['IOC'] %}
                    <div class="close-alert alert alert-warning">
                        {{value}}
                    </div>
                {% endfor %}
            <label>Macros</label>

            <pre><code>{{results.macros}}</code></pre>
        </div>
    </div>
</div>
{% endif %}
