

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Document Preview</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content row">
            {% if 'support_files' in analysis %}
                {% if name in analysis.support_files %}
                    {% for support_file in analysis.support_files[name] %}
                        <a href="#"><img class="col-md-3 img-thumbnail" data-modal-trigger src={{url_for('AnalysesView:download_support_file', id=analysis._id, module=name, filename=support_file[1])}}></a>
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>

<div class="modal">
  <div class="modal-content" style="width: 50%;">
      <button type="button" class="btn-close"></button>
      <img class="modal-content-image">
  </div>
</div>

