
<style>
  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      padding: 20px;
      border: 1px solid #888;
      width: 50%;
  }
  .modal-content-image {
      border: 1px solid #888;
      margin: auto;
      padding: 20px;
      width: 100%;
  }

  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }

  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
</style>

<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Document Preview</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content row">
            {% if 'support_files' in analysis %}
                {% if name in analysis.support_files %}
                    {% for support_file in analysis.support_files[name] %}
                        <a href="#" ><img class="col-md-3" onclick=showImage(this) src={{url_for('AnalysesView:download_support_file', id=analysis._id, module=name, filename=support_file[1])}} class="img-thumbnail"></a>
                    {% endfor %}
                {% endif %}
            {% endif %}

        </div>
    </div>
</div>

<div id="ModalImage" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
      <span id="closeModal" class="close">&times;</span>
      <img class="modal-content-image" id='ModalContent'>
  </div>
</div>


<script>

// modal variables
var modal = document.getElementById('ModalImage');
var modalImg = document.getElementById('ModalContent');
var closeModal = document.getElementById('closeModal');

// When the user clicks on <span> (x), close the modal
closeModal.onclick = function() {
  modal.style.display = "none";
}

function showImage(element) {
  // update image
  modalImg.src = element.src;
  modal.style.display = "block";

}

// close modal when clicking outside
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}

</script>
