<div class="col-md-12">
    <div class="card">
        <div class="header">
            <h4 class="title">Joe Sandbox</h4>
            <p class="category">Detailed Results</p>
        </div>
        <div class="content">
            {% if results.graph %}
                {{results.graph|safe}}
            {% else %}
                <p>No graph to display.</p>
            {% endif %}
            <div class="footer">
                <hr />
                <div class="stats">
                    <ul>
                        {% if current_user.has_permission('joe_access') %}
                            <li><a href="{{results.URL}}" target="_blank"><i class="pe-7s-link"></i> View Report</a></li>
                        {% endif %}
                        {{support_files(name)}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
